---
import CardPy from "../components/cardposts/CardPy.astro";
import WpCard from "../components/cardposts/WpCard.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("web-wordpress");
const postsp = await getCollection("proyectos");

const allPost = await Astro.glob("../content/proyectos/*.md");
const allPosts1 = await Astro.glob("../content/web-wordpress/*.md");
---

<section class="Sec">
  <div>
    <h4 class="titels">Mis proyectos 👾</h4>
  </div>
  {
    postsp.map((post) => (
      <CardPy
        title={post?.data?.title}
        nomPro={post?.data?.nomPro}
        description={post?.data?.description}
        link={post?.data?.link}
        pubDate={post?.data?.pubDate}
        avatar={post?.data?.avatar}
        image={post?.data?.image}
        tags={post?.data?.tags}
        slug={post.slug}
      />
    ))
  }
</section>

<div>
  <h4 class="titels">WEB WORDPRESS🖥️</h4>
  <ul role="list" class="link-card-grid">
    {
      posts.map((post) => (
        <WpCard
          title={post?.data?.title}
          description={post?.data?.description}
          avatar={post?.data?.avatar}
          tags={post?.data?.tags}
          slug={post.slug}
        />
      ))
    }
  </ul>
</div>

{
  /*{
    allPosts.map((item) => (
      <Crdpy
        titleAgro={item?.frontmatter?.titleAgro}
        description={item?.frontmatter?.description}
        imga={item?.frontmatter?.imga}
      />
    ))
  }
  {
    allPostsV.map((item) => (
      <Crdpy2
        titlevicamp={item?.frontmatter?.titlevicamp}
        descriptionvicamp={item?.frontmatter?.descriptionvicamp}
        imgavicamp={item?.frontmatter.imgavicamp}
        linkvicamp={item?.frontmatter?.linkvicamp}
      />
    ))
  }
  {
  allPosts1.map((post) => (
    <Crdpy2
      title={post?.frontmatter?.title}
      description={post?.frontmatter?.description}
      imga={post?.frontmatter?.imga}
      time={post?.frontmatter?.pubDate}
      avatar={post?.frontmatter?.avatar}
      link={post?.frontmatter?.imga1}
    />
  ))
}  
  */
}

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .Sec {
    padding: 15rem 0 15rem;
  }
  .titels {
    text-align: center;
    font-size: 6rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
