---
import Layout from "./Layout.astro";

const {
  content: { title, avatar, imga, pubDate, link, tags, description },
} = Astro.props;
---

<Layout title={title}>
  <section class="bg-gray-900 text-white">
    <div
      class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
    >
      <div class="mx-auto max-w-3xl text-center">
        <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
          {title}

          <span class="sm:block"> Increase Conversion. </span>
        </h1>

        <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
          {description}
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded border px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
            href="#"
          >
            Get Started
          </a>

          <a
            class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
            href="#"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full rounded border">
            <img
              alt={title}
              src={imga}
              class="absolute inset-0 h-full w-full object-cover"
            />
          </div>
        </div>
        <div class="colorS relative flex items-center">
          <span
            class="colorS hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16"
          ></span>
          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="colorB text-2xl font-bold sm:text-3xl">{title}</h2>
            <time class="colorB pr-2">{pubDate}</time>
            <span
              class="flex flex-col sm:gap-y-2 md:flex-row md:items-center md:gap-y-0 md:divide-x md:divide-textColor"
            >
              {
                tags.map((item) => (
                  <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                    {item}
                  </span>
                ))
              }
            </span>
            <p class="colorB mt-4 text-gray-600">
              <slot />
            </p>
            <div class="mt-4 mb-4">
              <a
                class="colorB group relative inline-flex items-center overflow-hidden rounded px-8 py-3 text-white focus:outline-none focus:ring active:bg-indigo-500"
                href="https://bellatrix.com.co/"
              >
                <span
                  class="absolute -start-full transition-all group-hover:start-4"
                >
                  <svg
                    class="size-5 rtl:rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                  </svg>
                </span>

                <span
                  class="text-sm font-medium transition-all group-hover:ms-4"
                >
                  Ver pagina
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .colorS {
    background-color: #1a1850;
  }
  .colorT {
    color: #1a1850;
  }
  .colorB {
    color: #ffffff;
  }
  .colorBc {
    background-color: #ffffff;
  }
</style>
