---
import WpCard from "@components/cardposts/WpCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("web-wordpress");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <main>
    <h4 class="titels">WEB WORDPRESS🖥️</h4>
    <ul role="list" class="link-card-grid">
      {
        posts.map((post) => (
          <WpCard
            title={post?.data?.title}
            description={post?.data?.description}
            avatar={post?.data?.avatar}
            tags={post?.data?.tags}
            slug={post.slug}
          />
        ))
      }
    </ul>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: #1a1850;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    .titels {
      text-align: center;
      font-size: 6rem;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>


</html>
